
<!-- para el diseño de seleccion del menu -->
<mat-toolbar color="primary">
  <button (click)="drawer.toggle()"  class="custom-background">
    <mat-icon>menu</mat-icon> <!-- Agrega el nombre del ícono que desees -->
  </button>
</mat-toolbar>
<!-- Para el sidebar-->

<mat-drawer-container >
  <!-- Cajón en el lado izquierdo -->
  <mat-drawer #drawer opened="false" mode="over" class="custom-background-drawer">
    <mat-nav-list >
      <mat-list-item >
        <button routerLink="hcitas" mat-button class="custom-background">
          <mat-icon>checklist</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          Historial de citas
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="mascotasUsuario" mat-button class="custom-background">
          <mat-icon>pets</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          Mis mascotas
        </button>

      </mat-list-item>
      <mat-list-item>
        <button routerLink="expMedico" mat-button class="custom-background">
          <mat-icon>folder</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          Expediente médico
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="prodFarma" mat-button class="custom-background">
          <mat-icon>local_pharmacy</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          Tienda de farmacéuticos
        </button>
      </mat-list-item>
      <mat-list-item>
        <button  routerLink="facturas" mat-button class="custom-background">
          <mat-icon>receipt</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          Historial de compras
        </button>
      </mat-list-item>
      <mat-list-item>
        <button  routerLink="arduino" mat-button class="custom-background">
          <mat-icon>receipt</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          Comunicación con mis mascotas
        </button>
      </mat-list-item>
      <mat-list-item>
        <button (click)="logout()" routerLink="/login" mat-button class="custom-background2">
          <mat-icon>power_settings_new</mat-icon> <!-- Agrega el nombre del ícono que desees -->
          logout
        </button>
      </mat-list-item>

      <!-- Agregar más elementos de lista aquí de ser necesario -->
    </mat-nav-list>
  </mat-drawer>
  <!-- Contenido principal -->
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">
      <router-outlet></router-outlet>
      <!-- aca se debe de lamar el router-outlet para que funcione -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>
