<div class="container mt-5">
  <mat-toolbar>
    <span style="margin-right: auto;">Articulos de farmacia</span>
    <div class="contenedorBotones">
      <button   mat-raised-button  class="contenedorBot4" >
        Mostrar articulos
      </button>
      <button   mat-raised-button  class="contenedorBot4" >
        Ordenar por precio
      </button>
      <button   mat-raised-button  class="contenedorBot4" >
        Ordenar por nombre
      </button>
      <button   mat-raised-button  class="contenedorBot4" >
        mi carrito
      </button>
    </div>
  </mat-toolbar>
  <div class="row">
    <div class="col-4" *ngFor="let producto of productosRecibidos; let i = index">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="40%">
              <img [src]="producto.imageURL" class="imagen-contenedor" alt="notfout">
              <p class="">{{producto.name}}</p>
            </div>
            <div fxFlex="60%" fxLayout="column" fxLayoutAlign="end">
              <h4 class="">{{producto.description}}</h4>
              <button mat-raised-button color="primary" >Añadir al carrito</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
