.custom-background2 {
  background-color: #E07B4F; /* Color de fondo deseado */
  color: black!important; /* Color del texto */
}
.custom-background {
  background-color: #4D7381; /* Cambia este valor al color que desees */
}
.custom-background3 {
  background-color: #1a485b; /* Color de fondo deseado */
  color: black!important; /* Color del texto */
}
