<div class=" container" >
  <mat-toolbar  class="custom-background2">
    <span style="margin-right: auto;">Compras realizadas por el usuario</span>
    <div class="contenedorBotones" >
      <button  (click)="obtenerFacturas()" mat-raised-button  class="custom-background" >
        Obtener facturas
      </button>
    </div>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="idFactura">
      <th mat-header-cell *matHeaderCellDef> idFactura </th>
      <td mat-cell *matCellDef="let element"> {{element.idFactura}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> nombre del producto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> precio del producto</th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> cantidad</th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- Symbol Column -->


    <!-- Define header row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Define data row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
