<button mat-icon-button  mat-dialog-close style="float:right;margin:5px">
  <mat-icon >close </mat-icon>
</button>
<mat-dialog-content class="custom-dialog-content">
  <header>
    <h1>
      Reservación de citas
    </h1>
  </header>
  <p><mat-form-field>
    <input matInput placeholder="nombre del solicitante" [(ngModel)]="nombreTextbox">
  </mat-form-field></p>

  <p><mat-form-field>
    <input matInput placeholder="Nombre de la mascota" [(ngModel)]="nombreMascota">
  </mat-form-field></p>

  <p><mat-form-field>
    <input matInput placeholder="fecha para agendar" [(ngModel)]="fechaTextbox">
  </mat-form-field></p>
  <mat-label>Fecha para agendar</mat-label>
  <p>
    <mat-form-field>
    <mat-select placeholder="Tipo de cita" [(ngModel)]="citaTextbox">
      <mat-option value="Cirugia">Cirugía</mat-option>
      <mat-option value="RevisionGeneral">Revision general</mat-option>
      <mat-option value="Corte">Corte de pelo</mat-option>
      <mat-option value="Vacunación">Vacunación</mat-option>
      <!-- Agrega más opciones según sea necesario -->
    </mat-select>
  </mat-form-field>
  </p>



</mat-dialog-content>
<mat-dialog-actions align="end" class="custom-dialog-content">
  <button mat-raised-button color="warn"  (click)="realizarReserva()" >
    Solicitar cita
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    cancelar
  </button>
</mat-dialog-actions>
