.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos verticalmente al inicio */
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: auto; /* Mueve el contenedor de los botones hacia abajo */
}
